.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem;
  min-height: 100vh;
}


.main .home {
  margin: 50px 0;
  width: 1000px;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  border: 2px solid;
  border-radius: 10px;
  background-color: #6e859513;
}

.main .home .hero {
  background-image: url("../public/heroimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid rgb(111, 139, 126);
  border-radius: 15px;
  height: 300px;
  width: 100%;
}

.main .home .hero h4 {
  position: relative;
  top: 30%;
  line-height: 25px;
  width: 500px;
  text-align: center;
  margin: auto;
}

.main .home .hero h1 {
  position: relative;
  top: 45%;
  font-size: 50px;
  font-family: 'Tilt Prism', cursive;
  letter-spacing: 10px;
  background: -webkit-linear-gradient(#ffffff, #0e7226);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 3s;
}

.main .home .hero h1:hover {
  transform: scaleX(1) rotate(2turn);
  cursor: grabbing;
  background: -webkit-linear-gradient(#ffffff, #0e6f72);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .blogs {
  margin: 80px 0;

}

.main .blogs h1 {
  margin: 100px 0px 30px 30px;

}

.main .blogs .grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(10%, auto));
  width: 100%;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.main .blogs .grid .cards {
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #6e859544;
  border: 1px solid;
  /* transition: background 200ms, border 200ms; */
  width: 325px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .blogs .grid .cards img {
  /* width: auto; */
  border-radius: 10px;
  border: 2px solid rgb(111, 139, 126);
}

.main .blogs .grid .cards p {
  margin: 10px 0;
}



/* .home .img{
  margin-top: 40px;
} */







/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}


.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
} */


/* 
.main::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.main::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.main::before,
.main::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
} */

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */

/* Mobile */
/* @media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
} */

/* @media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
} */

/* @keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
} */